{% extends 'base/base.html' %}


{#页面标题#}
 {%block title %}
  {{blog.title }}
  {%endblock%}
        






 
{#页面内容#}





{%block content%}
<div class = "container">
  <div class = "row">

    
     <div class = "col-sm-8">

        <div class="panel panel-default"> 

          <div class="panel-heading">文章内容</div>
          <div class="panel-body">
            <h2> 题目： {{blog.title}}</h2>
            <p class = "blog_info">类别:<a href="{%url 'blog_with_type' blog.tags.pk%}">  
                        {{blog.tags}}</a><span>&nbsp;&nbsp;
              作者:{{blog.author}}&nbsp;&nbsp;
              发表日期:{{blog.created_time|date:"Y-m-d"}}&nbsp;&nbsp;
              阅读量:({{blog.get_read_num}})<span>&nbsp;
            </p>

          
            <p>{{blog.content|safe}}</p>
              
          </div>
          </div>

    </div>

    <div class = "col-sm-4">
      <div class="panel panel-default">
          {%include 'function/type_list.html'%}
      </div>
    </div>

    
  </div>
</div>

<div class="blog-more">
  <p> 上一篇:
    {%if previous_blog%}
     <a href = "{% url  'blog_detail' previous_blog.pk %}"> {{previous_blog.title}} </a>
    {%else%}
      没有了
    {%endif%}
  </p>

  <p> 下一篇:
    {%if next_blog%}
    <a href = "{% url  'blog_detail' next_blog.pk %}"> {{next_blog.title}} </a>
      
    {%else%}
      没有了
    {%endif%}
  </p>
  </div>
{%endblock%}