{% extends 'base/base.html' %}
{% load static %}


{#页面标题#}
 {%block title %}
  Home
  {%endblock%}

  {% block header_extends%}
  <link rel="stylesheet" href="{%static 'css/home.css'%}">
  <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    
    {%endblock%}
        
{%block nav_home_active%}active{%endblock%}





{%block content%}

<h3>Welcome to my Blog, Please have a look</h3>

 <div id="container" ></div>
 {% comment %} 今天热门点击 {% endcomment %}
 <div  class="hot-data">
  <h3>今日热门</h3>
 <ul style="list-style-type:none">
  {%for hot_blog in today_hot_blogs%}

  <li>
  <a href="{% url 'blog_detail' hot_blog.content_object.pk%}">{{hot_blog.content_object.title}}  </a>({{hot_blog.read_num}})

  {% comment %} <p>&nbsp;&nbsp;&nbsp;{{hot_blog.content_object.abstraction}}</p> {% endcomment %}
  </li>
  {%empty%}
  <li class="active">今日无事</li>
  {%endfor%}
 </ul>
 </div>


  <div  class="hot-data">
<h3>一周热门</h3>
 <ul style="list-style-type:none" >
  {%for hot_blog in week_hot_blogs%}

    <li>
    <a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>({{ hot_blog.read_num_sum }})
    
    {% comment %} <p>&nbsp;&nbsp;&nbsp;{{hot_blog.abstraction}} {{hot_blog}}</p> {% endcomment %}
    </li>            
        {% empty %}
  <li class="active">太惨了吧？一周都没人看？</li>
  {%endfor%}
 </ul>
  </div>


 
   <script>
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: '七日阅读量图'                 // 标题
            },
            xAxis: {
                categories: {{dates|safe}} ,  // x 轴分类
                tickmarkPlacement: 'on',
            },
            yAxis: {
                title: {text: '阅读量'},
                labels:{enabled: false},
                gridLineDashStyle:'Dash',
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{read_nums}} ,                    // 数据
                {% comment %} data: [1,2,3,4,5,6,8], {% endcomment %}
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {enabled:false},
            credits: {enabled:false},
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{%endblock%}